[submodule "pelican-deadlinks"]
	path = pelican-deadlinks
	url = https://github.com/silentlamb/pelican-deadlinks.git
[submodule "similar_posts"]
	path = similar_posts
	url = https://github.com/davidlesieur/similar_posts.git
