[tool.poetry]
# Docs: https://python-poetry.org/docs/pyproject/
name = "blog"
version = "2.0.0"
description = "Kevin Deldycke's personal blog"
license = 'CC-BY-NC-SA-4.0'
authors = ["Kevin Deldycke <kevin@deldycke.com>"]
readme = "readme.md"
homepage = 'https://kevin.deldycke.com'
repository = 'https://github.com/kdeldycke/kevin-deldycke-blog'

[tool.poetry.urls]
"Funding" = "https://github.com/sponsors/kdeldycke"

[tool.poetry.dependencies]
# List of python versions and their support status:
# https://en.wikipedia.org/wiki/History_of_Python#Support
python = "^3.11"
pelican = { extras = ["Markdown"], version = "^4.8.0" }
typogrify = "^2.0.7"
beautifulsoup4 = "^4.9.3"
# mdx_titlecase = "^1.2.0"  # XXX Broken!
# XXX Use forked version of mdx-video plugin as the project is clearly unmaintained:
# https://github.com/italomaia/mdx-video/issues/14
# mdx-video is good enough for now. An alternative worth exploring in the furture is pymdown-extensions,
# which has an experimental generic directive feature (https://github.com/facelessuser/pymdown-extensions/pull/1777)
# in the work that could be used to implement video embeds (https://github.com/facelessuser/pymdown-extensions/issues/896#issuecomment-1207153095).
mdx_video = { git = "https://github.com/dtantsur/mdx-video.git", rev = "a358317fafbeb78622afe1c05e08986809005b3d" }
plumage = { git = "https://github.com/kdeldycke/plumage.git", branch = "main" }
# plumage = { path = "../plumage/", develop = false }  # XXX Dev!
pelican-image-process = "^3.0.3"
pelican-seo = "^1.2.2"
pelican-search = "^1.0.2"
# pelican-similar-posts = "^1.0.0"  # XXX Broken!
pelican-sitemap = "^1.0.2"
pelican-neighbors = "^1.2.0"
#gensim = "^4.3.0"  # XXX Broken!

[tool.poetry.dev-dependencies]
bump2version = "^1.0.1"
mypy = "^1.0"

[tool.mypy]
warn_unused_configs = true
warn_redundant_casts = true
warn_unused_ignores = true
warn_return_any = true
warn_unreachable = true
pretty = true

[[tool.mypy.overrides]]
ignore_missing_imports = true
module = []

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
