{% extends "projects.html" %}

{% block title %}
  Code
{% endblock %}

{% block top_center %}
  <h1>
    <a href="/code/" rel="bookmark" title="Permalink to Code">Code</a>
    <small>Projects I've created, or contributed to</small>
  </h1>
{% endblock %}


{% block project_pre_content %}
  <div class="thumbnail span3">
    <div class="details">
      <h4>Software & Tech. communities</h4>
      {% set TECH_LINKS = [
              ("Stack Overflow", "http://stackoverflow.com/users/487610/kevin-deldycke")
            , ("Hacker News", "http://news.ycombinator.com/user?id=kdeldycke")
            , ("SourceForge", "http://sourceforge.net/users/kevin-deldycke")
            , ("Google code", "http://code.google.com/u/kevin@deldycke.com/")
            , ("WordPress", "http://profiles.wordpress.org/Coolkevman/")
            , ("Launchpad", "http://launchpad.net/~kevin-deldycke")
            , ("CoderWall", "http://coderwall.com/kdeldycke")
            , ("BitBucket", "http://bitbucket.org/kdeldycke")
            , ("GitHub", "http://github.com/kdeldycke")
            , ("Ohloh", "http://ohloh.net/accounts/kevin")
            , ("PyPi", "http://pypi.python.org/pypi?%3Aaction=search&amp;term=deldycke")
            ]
      %}
      <ul>
        {% for (name, link) in TECH_LINKS %}
          <li><a href="{{ link }}"><img src="http://g.etfv.co/{{ '/'.join(link.split('/', 3)[:3]) }}?defaulticon=lightpng" width="16" height="16" alt="{{ name }} profile"/> {{ name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}


{% set PROJECTS = [
    { 'thumb':    "/static/uploads/2013/02/openerp-logo.png"
    , 'desc':     "Currently working full-time on OpenERP as a consultant at Smile, the biggest Open-Source company in France."
    , 'roles':    ["Contributor"]
    , 'tools':    ["Python", "PostgreSQL", "Javascript", "Backbone.js", "Mako", "HTML", "XML", "CSS"]
    , 'links':    ["http://kevin.deldycke.com/tag/openerp/", "http://bugs.debian.org/cgi-bin/pkgreport.cgi?submitter=kevin%40deldycke.com", "https://www.ohloh.net/p/smile-openerp"]
    },
    { 'name':     "OpenERP Matrix Widget"
    , 'desc':     "A matrix widget for OpenERP's web client."
    , 'thumb':    "/static/uploads/2012/08/2-level-editable-additional-lines-matrix.png"
    , 'thumb_link': "/static/uploads/2012/08/2-level-editable-additional-lines-matrix.png"
    , 'roles':    ["Author"]
    , 'tools':    ["OpenERP", "Javascript", "Mako", "HTML", "CSS"]
    , 'links':    ["http://kevin.deldycke.com/2012/08/announcing-openerp-matrix-widget/", "https://github.com/Smile-SA/smile_openerp_matrix_widget"]
    },
    { 'name':     "openerp.buildout"
    , 'desc':     "Automate OpenERP server and web-client installation, deployment and configuration."
    , 'inactive': False
    , 'roles':    ["Author"]
    , 'tools':    ["OpenERP", "Python", "Buildout", "Bash", "System"]
    , 'links':    ["http://github.com/kdeldycke/openerp.buildout"]
    },
    { 'name':     "CherryPy + Mako + Formish + OOOP boilerplate"
    , 'desc':     "Boilerplate codebase to publishing OpenERP content on the web."
    , 'inactive': True
    , 'roles':    ["Author"]
    , 'tools':    ["Python", "CherryPy", "Mako", "HTML", "CSS", "Javascript"]
    , 'links':    ["http://kevin.deldycke.com/2011/08/cherrypy-mako-formish-ooop-boilerplate/", "http://github.com/kdeldycke/cherrypy_mako_formish_ooop_boilerplate"]
    },
    { 'name':     "WebPing"
    , 'desc':     "Check availability of web pages."
    , 'thumb':    "/static/uploads/2011/08/webping-dashboard.png"
    , 'inactive': True
    , 'roles':    ["Author"]
    , 'tools':    ["Python", "HTML", "CSS", "Javascript"]
    , 'links':    ["http://kevin.deldycke.com/2011/08/webping-open-sourced/", "http://github.com/kdeldycke/webping"]
    },
    { 'name':     "Live browser"
    , 'desc':     "Web app with no particular goal but play with Microsoft Live Messenger Connect API."
    , 'inactive': True
    , 'roles':    ["Author"]
    , 'tools':    ["Python", "CherryPy", "Mako", "MongoDB"]
    , 'links':    ["http://kevin.deldycke.com/2011/12/live-browser-python-web-app-microsoft-live-connect-api/", "https://github.com/kdeldycke/live_browser"]
    },
    { 'name':     "e107 Importer"
    , 'desc':     "WordPress plugin to import news, users, pages, images and forums from e107."
    , 'thumb':    "/static/uploads/2008/01/e107-to-wordpress.png"
    , 'inactive': True
    , 'roles':    ["Author"]
    , 'tools':    ["e107", "PHP", "MySQL", "WordPress"]
    , 'links':    ["http://wordpress.org/extend/plugins/e107-importer/", "http://github.com/kdeldycke/e107-importer"]
    },
    { 'name':     "Feed Tracking Tool"
    , 'desc':     "Web-based RSS/Atom feed aggregator."
    , 'inactive': True
    , 'roles':    ["Author"]
    , 'tools':    ["Ruby on Rails", "MySQL", "HTML", "CSS"]
    , 'links':    ["http://kevin.deldycke.com/2011/03/feed-tracking-tool-released-open-source-license/", "http://github.com/kdeldycke/feed-tracking-tool"]
    },
    { 'name':     "Scripts"
    , 'desc':     "A collection of utility scripts, patches and hacks."
    , 'thumb':    "/static/uploads/2006/12/command-lines.jpg"
    , 'roles':    ["Author"]
    , 'tools':    ["Python", "Bash", "PHP", "MySQL"]
    , 'links':    ["http://github.com/kdeldycke/scripts"]
    },
    { 'name':     "pbp.recipe.trac"
    , 'desc':     "Buildout recipe to automate management and deployment of multiple Trac instances."
    , 'inactive': True
    , 'roles':    ["Contributor"]
    , 'tools':    ["Python", "Trac", "Buildout"]
    , 'links':    ["http://pypi.python.org/pypi/pbp.recipe.trac", "http://kevin.deldycke.com/2010/12/automate-trac-instance-deployment-buildout/", "http://bitbucket.org/tarek/atomisator/"]
    },
    { 'desc':     "Zope-based CMS."
    , 'thumb':    "/static/uploads/2006/04/plone-logo.png"
    , 'inactive': True
    , 'roles':    ["Contributor"]
    , 'tools':    ["Python", "Zope", "ZODB"]
    , 'links':    ["http://plone.org/author/kdeldycke", "http://dev.plone.org/collective/search?q=kdeldycke&changeset=on", "http://dev.plone.org/plone/search?q=kdeldycke&ticket=on"]
    },
    { 'desc':     "Zope-based ERP framework."
    , 'thumb':    "/static/uploads/2013/02/erp5-logo.png"
    , 'inactive': True
    , 'roles':    ["Contributor"]
    , 'tools':    ["Python", "Zope", "ZODB"]
    , 'links':    ["https://www.ohloh.net/p/erp5/contributors/18391049963153", "http://search.gmane.org/?author=kevin%40nexedi.com"]
    },
    { 'name':     "QLC"
    , 'desc':     "DMX light controlling software written in QT."
    , 'thumb':    "/static/uploads/2010/06/qlc-wider-panel-presets.png"
    , 'roles':    ["Contributor"]
    , 'links':    ["http://sourceforge.net/apps/trac/qlc/query?reporter=~kevin-deldycke", "http://sourceforge.net/search/index.php?group_id=44856&type_of_search=mlists&ml_name=qlc-devel&words=%22Kevin+Deldycke%22"]
    },
    { 'thumb':    "/static/uploads/2013/02/wordpress-logo.png"
    , 'desc':     "The most popular PHP blog engine."
    , 'inactive': True
    , 'roles':    ["Contributor"]
    , 'links':    ["http://profiles.wordpress.org/Coolkevman/", "http://core.trac.wordpress.org/query?reporter=~Coolkevman"]
    },
    { 'thumb':    "/static/uploads/2013/02/debian-logo.png"
    , 'roles':    ["Contributor"]
    , 'tools':    ["Debian"]
    , 'links':    ["http://bugs.debian.org/cgi-bin/pkgreport.cgi?submitter=kevin%40deldycke.com"]
    },
    { 'thumb':    "/static/uploads/2013/02/bbpress-logo.png"
    , 'desc':     "WordPress-based forums."
    , 'inactive': True
    , 'roles':    ["Contributor"]
    , 'links':    ["http://trac.bbpress.org/query?reporter=~Coolkevman"]
    },
    { 'name':     "Kdenlive"
    , 'thumb':    "/static/uploads/2013/02/kdenlive-logo.png"
    , 'desc':     "Non-linear video editor written in QT for KDE."
    , 'roles':    ["Contributor"]
    , 'links':    ["http://google.com/search?q=%22kevin-deldycke%22+site%3Akdenlive.org%2Fmantis%2F"]
    },
    { 'name':     "nlconverter"
    , 'desc':     "Lotus Notes to Mailbox conversion tool written in Python."
    , 'roles':    ["Contributor"]
    , 'links':    ["http://kevin.deldycke.com/2010/09/convert-lotus-notes-nsf-files-mbox-nlconverter/", "http://code.google.com/p/nlconverter/people/detail?u=kevin.deldycke"]
    },
    { 'thumb':    "/static/uploads/2007/04/mandriva-2007-blue-logo.png"
    , 'inactive': True
    , 'roles':    ["Contributor"]
    , 'links':    ["http://kevin.deldycke.com/2013/02/mandriva-repositories-retired/", "https://github.com/kdeldycke/mandriva-specs"]
    },
    ]
%}
