{% extends "projects.html" %}

{% block title %}
  Themes
{% endblock %}

{% block top_center %}
  <h1>
    <a href="/themes/" rel="bookmark" title="Permalink to Themes">Themes</a>
    <small>I customized or created from scratch</small>
  </h1>
{% endblock %}


{% set PROJECTS = [
    { 'name':  "Plumage"
    , 'desc':  "Theme of this blog for 2013 and onward."
    , 'thumb': "/uploads/2013/plumage-article-screenshot.png"
    , 'thumb_link': "/uploads/2013/plumage-article-screenshot.png"
    , 'roles': ["Pelican"]
    , 'tools': ["Jinja", "Twitter Bootstrap", "CSS", "HTML", "Javascript"]
    , 'links': ["https://github.com/kdeldycke/plumage"]
    },
    { 'name':  "Maomium drawings"
    , 'desc':  "2011-2012 theme of this blog, based on <a href='http://wordpress.org/extend/themes/twentyten'>TwentyTen</a> then <href='http://wordpress.org/extend/themes/twentyeleven'>TwentyEleven</a>."
    , 'thumb': "/uploads/2011/kev-blog-header.jpg"
    , 'thumb_link': "/uploads/2011/kev-blog-header.jpg"
    , 'roles': ["WordPress"]
    , 'tools': ["CSS", "HTML", "Javascript"]
    , 'links': ["http://kevin.deldycke.com/2011/01/new-blog-header-and-tiny-wordpress-theme-customizations/"]
    },
    { 'name':  "Cool Cavemen 2009"
    , 'desc':  "<a href='http://getk2.com'>K2 style</a> designed with <a href='http://qpx.coolcavemen.com'>QPX</a> for the <a href='http://coolcavemen.com/discography/multipolar/'>Multipolar</a>-era website of Cool Cavemen."
    , 'thumb': "/uploads/2007/cool-cavemen-preview.png"
    , 'thumb_link': "/uploads/2007/cool-cavemen-preview.png"
    , 'roles': ["WordPress"]
    , 'tools': ["CSS", "HTML", "Javascript"]
    , 'links': ["http://github.com/kdeldycke/cool-cavemen-k2-theme/"]
    },
    { 'name':  "Drupify fork"
    , 'desc':  "Fork of the <a href='http://drupal.org/project/drupify'>Drupify theme</a> for Cool Cavemen's online shop."
    , 'thumb': "/uploads/2007/drupify-fork-preview.png"
    , 'thumb_link': "/uploads/2007/drupify-fork-preview.png"
    , 'roles': ["Drupal"]
    , 'tools': ["CSS", "HTML"]
    , 'links': ["http://github.com/kdeldycke/drupify-fork/"]
    },
    { 'name':  "Cool Blue"
    , 'desc':  "2009-2010 theme of this blog, based on <a href='http://getk2.com'>K2</a>."
    , 'thumb': "/uploads/2007/cool-blue-preview.png"
    , 'thumb_link': "/uploads/2007/cool-blue-preview.png"
    , 'roles': ["WordPress"]
    , 'tools': ["CSS"]
    , 'links': ["http://github.com/kdeldycke/cool-blue/"]
    },
    { 'name':  "Sapphire for K2"
    , 'desc':  "<a href='http://getk2.com'>K2</a> port of <a href='http://www.michaelmartine.com/free-wordpress-themes/free-wordpress-theme-sapphire/'>legacy Sapphire theme</a> by <a href='http://www.michaelmartine.com'>Michael Martine</a>."
    , 'thumb': "/uploads/2007/sapphire-style-for-k2-03-wordpress-theme.png"
    , 'thumb_link': "/uploads/2007/sapphire-style-for-k2-03-wordpress-theme.png"
    , 'roles': ["WordPress"]
    , 'tools': ["CSS"]
    , 'links': ["http://github.com/kdeldycke/sapphire/"]
    },
    { 'name':  "Coolkevmen"
    , 'desc':  "Simple style for K2."
    , 'thumb': "/uploads/2007/coolkevmen-for-k2-in-action1.png"
    , 'thumb_link': "/uploads/2007/coolkevmen-for-k2-in-action1.png"
    , 'roles': ["WordPress"]
    , 'tools': ["CSS"]
    , 'links': ["http://github.com/kdeldycke/coolkevmen/"]
    },
    { 'name':  "Cool Cavemen e107 themes"
    , 'desc':  "Collection of themes created between 2004 and 2008 for <a href='http://coolcavemen.com'>Cool Cavemen</a>."
    , 'thumb': "/uploads/2011/new_look_3_mouseover-rescaled.png"
    , 'thumb_link': "/uploads/2011/new_look_3_mouseover-rescaled.png"
    , 'roles': ["e107"]
    , 'tools': ["CSS", "HTML"]
    , 'links': ["http://kevin.deldycke.com/2011/06/cool-cavemen-webdesign-retrospective/", "http://github.com/kdeldycke/cool-cavemen-e107-theme"]
    },
    { 'name':  "Funky Storm themes"
    , 'desc':  "Web sites variations for my band <a href='http://funky-storm.com'>Funky Storm</a> between 2002 and 2004."
    , 'thumb': "/uploads/2013/2003-funky-storm-redesign-mockup.png"
    , 'thumb_link': "/uploads/2013/2003-funky-storm-redesign-mockup.png"
    , 'roles': ["PHP"]
    , 'tools': ["CSS", "HTML"]
    , 'links': ["http://kevin.deldycke.com/2013/08/funky-storm-webdesign-retrospective/", "https://github.com/kdeldycke/funky-storm/blob/master/index_dev.htm"]
    },
    ]
%}
