---
name: Deploy
"on":
  # Only deploy the reference default branch.
  push:
    branches:
      - main
    paths:
      - "content/**"
      - "*.py"
      - "pyproject.toml"
      - ".github/workflows/deploy.yaml"

jobs:

  deploy:
    name: Deploy to Cloudflare Pages
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      deployments: write
    steps:
      - uses: actions/checkout@v3.3.0
        with:
          submodules: true
      - uses: actions/setup-python@v4.5.0
        with:
          python-version: "3.11"
      - name: Update pip and Poetry
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade poetry
      - name: Install Pelican
        run: |
          poetry install
      - name: Generate static content
        run: |
          poetry run pelican --verbose --settings ./publishconf.py ./content
      - name: Install Cloudflare CLI
        run: |
          npm install -g wrangler
      - name: "XXX Temporarily remove files >25 MiB"
        run: |
          rm -f ./output/uploads/2020/HP_Color_LaserJet_Pro_M254_dw_Printer_series_20200612.rfu
      - name: Publish
        uses: cloudflare/pages-action@v1.3.0
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: "kevin-deldycke-blog"
          directory: "output"
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}