---
name: Lint
"on":
  push:
    branches:
      - main
  pull_request:

jobs:

  lint:
    uses: kdeldycke/workflows/.github/workflows/lint.yaml@v4.6.0

  lint-html:
    # Provides hints to fix theme's templates.
    name: Lint HTML
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: actions/setup-python@v5.2.0
        with:
          python-version: "3.12"
      - name: Install uv
        run: |
          python -m pip install -r https://raw.githubusercontent.com/kdeldycke/workflows/v4.5.4/requirements/uv.txt
      - name: Install project
        run: |
          uv --no-progress venv
          uv --no-progress sync --all-extras
      - name: Install Stork
        run: |
          cargo install stork-search --locked
      - name: Build HTML pages
        run: |
          uv --no-progress run --frozen -- pelican --extra-settings SITEURL='"https://kevin.deldycke.com"'
      - name: Install HTMLHint
        run: |
          sudo npm install htmlhint -g
      - name: Lint all HTML files, ignore feeds
        run: |
          find ./output -type f -not -regex ".*\/feed\/.*" -and -iname "*.html" -exec htmlhint "{}" \;