---
name: Test
"on":
  push:
  pull_request:
  schedule:
    # Run tests every Monday at 9:17 to catch regressions.
    - cron: "17 9 * * 1"

jobs:

  test-generation:
    name: Generate the static site
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4.1.7
      - uses: actions/setup-python@v5.1.1
        with:
          python-version: "3.12"
      - name: Update apt
        run: |
          sudo apt --quiet --yes update
      - name: Update node and npm
        run: |
          sudo apt --quiet --yes install npm
      - name: Install uv
        run: |
          python -m pip install -r https://raw.githubusercontent.com/kdeldycke/workflows/v4.1.4/requirements/uv.txt
      - name: Install project
        run: |
          uv venv --system
          uv pip install ".[test]"
      - name: Install Stork
        run: |
          cargo install stork-search --locked
      - name: Build website
        run: |
          uv run pelican --verbose

  test-redirects:
    name: Redirect rules test in production
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4.1.7
      - uses: actions/setup-python@v5.1.1
        with:
          python-version: "3.12"
      - name: Install uv
        run: |
          python -m pip install -r https://raw.githubusercontent.com/kdeldycke/workflows/v4.1.4/requirements/uv.txt
      - name: Install project
        run: |
          uv venv --system
          uv pip install ".[test]"
      - name: Unittests
        run: |
          uv run pytest ./test_redirects.py