---
name: Test
"on":
  push:
  pull_request:
  schedule:
    # Run tests every Monday at 9:17 to catch regressions.
    - cron: "17 9 * * 1"

jobs:

  test:
    name: Generate the static site
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4.1.2
      - uses: actions/setup-python@v5.1.0
        with:
          python-version: "3.12"
      - name: Update Pip & Poetry
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade poetry
      - name: Update apt
        run: |
          sudo apt --quiet --yes update
      - name: Update node and npm
        run: |
          sudo apt --quiet --yes install npm
      - name: Install Pelican
        run: |
          poetry install
      - name: Install Stork
        run: |
          cargo install stork-search --locked
      - name: Build website
        run: |
          poetry run pelican --verbose ./content
