---
name: Test
"on":
  push:
  pull_request:
  schedule:
    # Run tests every Monday at 9:17 to catch regressions.
    - cron: "17 9 * * 1"

jobs:

  test:
    name: Generate the static site
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3.4.0
        with:
          submodules: true
      - uses: actions/setup-python@v4.5.0
        with:
          python-version: '3.11'
      - name: Install Pelican
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade poetry
          poetry install
      - name: Build website
        run: |
          poetry run pelican --verbose ./content
